html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    /* 1rem을 10px로 변환 (원래는 16px) */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px;
    font-size: 2rem;
}

.page {
    position: absolute;
    top: 4rem;
    left: 0rem;
    height: calc(100dvh - 4rem);
    width: 100%;
    font-size: 2rem;
    text-align: center;
}