@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    /* 1rem을 10px로 변환 (원래는 16px) */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

body {
    height: 100%;
    width: 100%;
}

#nav {
    position: fixed;
    right: 0px;
    top: 2rem;
    width: 4rem;
    height: calc(100dvh - 4rem);
    border-left: solid 1px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-family: "Noto Serif KR", serif;
    font-weight: 900;
    font-style: normal;
}

.navLogo {
    font-size: 1rem;
}

.menu {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 100%;
    float:left;
}

.genre {
    display:inline-block;
    text-align:center;
    margin-bottom: 1rem;
}

.footer {
    font-size: 1rem;
    margin-top: auto;
}

.container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: calc(100dvh - 4rem);
    width: calc(100% - 6rem);
}