html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
ul,
ol,
li,
select,
button {
  font-family: Galmuri9, sans-serif;
  font-style: normal;
  color: #222222;
  font-size: 0.9rem;
}

html {
  overscroll-behavior: none;
  background-color: #f2f2f2;
  /* font-size: 62.5%; */
}

body {
  touch-action: pan-y, pan-x;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 340px;
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  padding: 1rem;
  background-color: transparent;
  z-index: 10;
}

nav img {
  margin-left: 1rem;
  float: right;
}

nav #cartItemCount {
  float: right;
  position: relative;
  right: -35px;
  top: -5px;
  font-size: 0.5rem;
  font-weight: 700;
  color: #222222
}


.sidenav {
  height: 100lvh;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 56px;
  padding-bottom: 10rem;
}

.sidenav a {
  z-index: 20;
  padding: 1rem 1rem 1rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: #222222;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #c0c0c0;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 30;
}

header {
  padding: 4rem 1rem 4rem;
}

section {
  margin: 1rem;
  padding: 2rem 0 4rem;
  border-top: 1px dashed #222222;
  border-bottom: 1px dashed #222222;
}

.title {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 600;
  margin: 0 2rem 2rem;
}

.productList {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  row-gap: 2rem;
}

.product {
  width: fit-content;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
}

.thumbnail {
  position: relative;
  width: 150px;
  height: 150px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.thumbnail .quality {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.2rem;
  color: #f2f2f2;
  width: 3rem;
  background-color: #222222;
}

footer {
  padding: 1rem 1rem 4rem;
  text-align: center;
}

footer p {
  position: relative;
  left: 2px;
  font-size: 2rem;
  font-family: "Libre Barcode 128", system-ui;
  font-style: normal;
}

/* Upload Page */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  user-select: none;
  border: 2px solid #222222;
  display: block;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkmark:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: #222222;
  width: 50%;
  height: 50%;
  transform: scale(0);
  transition: .1s ease;
}

.container input:checked~.checkmark:after {
  transform: scale(1);
}

.normBtn {
  width: fit-content;
  height: 2rem;
  appearance: none;
  background-color: transparent;
  border: 2px solid #222222;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.3s;
}

.normBtn:hover {
  color: #c0c0c0;
}

.normBtn:disabled {
  pointer-events: none;
}

select {
  width: 10rem;
  height: 2rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  border: 2px solid #222222;
  border-radius: 0;
  -webkit-appearance: none;
  /* 화살표 없애기 for chrome*/
  -moz-appearance: none;
  /* 화살표 없애기 for firefox*/
  appearance: none;
  /* 화살표 없애기 공통*/
}

select::-ms-expand {
  display: none;
  /* 화살표 없애기 for IE10, 11*/
}

/* check, hover 스타일 설정 IE, Chrome */
select option:checked,
select option:hover {
  background: #aaaaaa;
  color: #222222;
}

/* check, hover 스타일 설정 FireFox */
select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px #aaaaaa inset;
  color: #222222;
}

.swiper {
  width: 100%;
  height: calc(100% - 56px);
}

.swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 1rem;
}

.swiper-slide .swipeHint {
  position: absolute;
  bottom: 2rem;
  font-size: 1rem;
  opacity: 0;
}

.swiper-slide .detailContent1 {
  font-size: 1rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.swiper-slide .detailContent2 {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  font-size: 1rem;
  opacity: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.swiper-slide-active .swipeHint {
  animation: hintAni 1s ease-in-out infinite alternate;
}

.swiper-slide-active .detailContent1 {
  animation: ani 1s .3s both
}

.swiper-slide-active .detailContent2 {
  animation: ani 1s .5s both
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hintAni {
  0% {
    opacity: 0.3;
    transform: translateY(20px);

  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.cartNav {
  display: flex;
  margin: 0 0 2rem;
}

.cartList {
  display: flex;
  flex-direction: column;
}

.cartItemThumbnail {
  position: relative;
  width: 80px;
  height: 80px;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.cartItem {
  display: flex;
  align-items: center;
  width: fit-content;
}

.cartItemWrap {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 2rem 0;
}

.cartItemIndex1 {
  width: 80px;
}

.cartFooter {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 2rem 0 0;
}